absl-py==0.12.0
altgraph==0.17.2
apache-beam==2.34.0
argon2-cffi==21.1.0
astunparse==1.6.3
attrs==21.2.0
auto-py-to-exe==2.11.0
avro-python3==1.9.2.1
backcall==0.2.0
bleach==4.1.0
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama==0.4.4
contextlib2==21.6.0
crcmod==1.7
cycler==0.11.0
Cython==0.29.24
cytoolz==0.11.0
dask==2021.10.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
dill==0.3.1.1
dm-tree==0.1.6
docopt==0.6.2
docutils==0.18.1
Eel==0.12.4
entrypoints==0.3
fastavro==1.4.7
flatbuffers==1.12
fonttools==4.25.0
fsspec @ file:///tmp/build/80754af9/fsspec_1636116461911/work
future==0.18.2
gast==0.4.0
gevent==21.8.0
gevent-websocket==0.10.1
gin-config==0.5.0
google-api-core==2.2.2
google-api-python-client==2.30.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.53.0
greenlet==1.1.2
grpcio==1.34.1
h5py==3.1.0
hdfs==2.6.0
httplib2==0.19.1
idna==3.3
imagecodecs @ file:///C:/ci/imagecodecs_1635511087451/work
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaggle==1.5.12
keras==2.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.2
labelImg==1.8.6
locket==0.2.1
lvis==0.5.3
lxml==4.6.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib @ file:///C:/ci/matplotlib-suite_1634667159685/work
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
munkres==1.1.4
nbclient==0.5.8
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx @ file:///tmp/build/80754af9/networkx_1633639043937/work
notebook==6.4.5
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.1
object-detection @ file:///D:/projects/ObjectDetector/models/research
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
opencv-python==4.5.4.58
opencv-python-headless==4.5.4.58
opt-einsum==3.3.0
orjson==3.6.4
packaging==21.2
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.2
partd @ file:///tmp/build/80754af9/partd_1618000087440/work
pefile==2021.9.3
pickleshare==0.7.5
Pillow==8.4.0
portalocker==2.3.2
prometheus-client==0.12.0
promise==2.3
prompt-toolkit==3.0.22
protobuf==3.19.1
psutil==5.8.0
py-cpuinfo==8.0.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycparser==2.21
pydot==1.4.2
Pygments==2.10.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pymongo==3.12.1
pyparsing==2.4.7
pypiwin32==223
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.18.0
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-slugify==5.0.2
python-vlc==3.0.12118
pytz==2021.3
PyWavelets @ file:///C:/ci/pywavelets_1607645631519/work
pywin32==302
pywin32-ctypes==0.2.0
pywinpty==1.1.5
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.0
QtPy==1.11.2
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
sacrebleu==2.0.0
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.2
Send2Trash==1.8.0
sentencepiece==0.1.96
seqeval==1.2.2
six==1.15.0
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-addons==0.15.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow-hub==0.12.0
tensorflow-io==0.19.1
tensorflow-io-gcs-filesystem==0.19.1
tensorflow-metadata==1.4.0
tensorflow-model-optimization==0.7.0
tensorflow-text==2.5.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
tf-models-official==2.6.0
tf-slim==1.1.0
threadpoolctl==3.0.0
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
tornado @ file:///C:/ci/tornado_1606924294691/work
tqdm==4.62.3
traitlets==5.1.1
typeguard==2.13.0
typing-extensions==3.7.4.3
uritemplate==4.1.1
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
whichcraft==0.6.1
widgetsnbextension==3.5.2
wincertstore==0.2
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.4.0
